p {
  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
}

.select-screen-div {
  display: flex;
  flex-direction: row;
}

.select-button-div {
  display: flex;
  width: calc(0.35 * 100vw);
  height: calc(0.6 * 100vh);
  margin: 10px;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: calc(80px + 2vmin);
  background-color: #a2e5ff;
}

.question-number {
  display: flex;
  flex-direction: row;
  margin: 20px;
  font-size: calc(100px + 2vmin);
  color: white
}

.question-button {
  border: 0px;
  margin: 20px;
  align-items: center;
  justify-content: center;
  font-size: calc(100px + 2vmin);
  color: white;
  background-color: #282c34;
}

.text-black {
  font-size: calc(100px + 2vmin);
  color: white;
}